body {
    background-color: var(--color-tertiary);
    font-family: var(--font-text);
}

h1, h2, h3, h4, h5, h6
.h1 .h2 .h3 .h4 .h5 .h6 {
    font-family: var(--font-title);
    font-weight: 400;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
}

.bg-white {
    background-color: var(--color-white);
}

.bg-dark-grey {
    background-color: var(--color-dark-grey);
}