.blog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    padding: 7.5rem 9.5rem;
}

.blog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 81rem;
}

.blog-header-title {
    color: var(--color-font);
    font-family: var(--font-title);
    font-size: 3.4375rem;
    font-weight: 500;
    line-height: 110%
}

.blog-articles {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
}

.blog-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    font-family: var(--font-text);
    width: 19.125rem;
    height: 22.125rem;
    padding-bottom: 1.5rem;
    background-color: var(--color-white);
    border-radius: 1rem;
    box-shadow: 0rem 0.25rem 1.5125rem 0rem rgba(0, 0, 0, 0.08);
}

.article-principal {
    width: 39.75rem;
    height: 45.75rem;
    grid-row-start: 1;
    grid-row-end: 3;

    & .blog-article-img {
        width: 39.75rem;
        height: 28.5rem;
        flex-shrink: 0;
        border-radius: 0.75rem 0.75rem 0rem 0rem;
        background: #D9D9D9;
    }

    & .blog-article-date,
    .blog-article-title,
    .blog-article-desc {
        padding: 0 2.125rem;
    }

    & .blog-article-desc {
        width: 554px;
        color: var(--color-semi-dark-grey);
        font-size: 1rem;
        font-weight: 400;
        line-height: 150%;
    }

}

.data-article-principal {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    gap: 0.9375rem;
}

.data-article-secondary {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.blog-article-date {
    color: var(--color-semi-dark-grey);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 142%
}

.blog-article-title {
    color: var(--color-secondary);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 130%;
}