.food-delivery {
    display: flex;
    padding: 120px 152px;
    gap: 90px;
    align-items: center;
}

.food-delivery-images {
    display: flex;
    height: 627px;
    gap: 24px;
}

.food-delivery-image-one {
    width: 431px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 0.75rem;
}

.food-delivery-image-two {
    width: 290px;
    height: 333px;
    flex-shrink: 0;
    border-radius: 12px;
}

.food-delivery-image-three {
    width: 290px;
    height: 240px;
    flex-shrink: 0;
    border-radius: 12px;
}

.food-delivery-secondary-images {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 30px;
}

.food-delivery-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.food-delivery-title {
    width: 461px;
    color: var(--color-font);
    font-family: var(--font-title);
    font-size: 55px;
    font-weight: 500;
    line-height: 110%;
}

.food-delivery-desc {
    width: 414px;
    color: var(--color-font-secondary);
    font-family: var(--font-text);
    font-weight: 400;
    line-height: 150%

}

.food-delivery-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.food-delivery-list-li {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--color-font);
    font-family: var(--font-text);
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
}