.top-bar {
    display: flex;
    justify-content: space-between;
    background-color:  var(--color-dark-grey);
    color: var(--color-white);
    max-width: 81.25rem;
    padding: 0.56rem 0;
}

.top-bar a {
    display: flex;
    align-items: center; 
    gap: 0.5rem;
    color: var(--color-white);
}

.top-bar-contact {
    display: flex;
    align-items: center;
    gap: 1.56rem;
}

.top-bar-social-menu {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 81.25rem;
    padding: 1.875rem 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.875rem;
}

.menu-list {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.menu-list a {
    color: var(--color-secondary);
}